<ons-page id="details-page" data-bind="with: memberRoot">
    <ons-toolbar  data-bind="with: memberManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: memberManipulation">
        <div data-bind="with: itemToManipulate">
            <ons-row>
                <ons-col>
                    <label for="name">Benutzername:</label>
                    <ons-input input-id="name"
                               modifier="underbar"
                               type="text"
                               placeholder="Benutzername" required
                               data-bind="textInput: userName"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="password">Passwort:</label>
                    <ons-input input-id="password"
                               modifier="underbar"
                               type="password"
                               placeholder="Passwort" required
                               data-bind="textInput: password"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="firstname">Vorname:</label>
                    <ons-input input-id="firstname"
                               modifier="underbar"
                               type="text"
                               placeholder="Vorname" required
                               data-bind="textInput: firstName"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="lastName">Nachname:</label>
                    <ons-input input-id="lastName"
                               modifier="underbar"
                               type="text"
                               placeholder="Passwort" required
                               data-bind="textInput: lastName"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="mailAddress">E-Mail:</label>
                    <ons-input input-id="mailAddress"
                               modifier="underbar"
                               type="email"
                               placeholder="E-Mail" required
                               data-bind="textInput: mailAddress"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="admin">Administrator</label>
                    <ons-checkbox input-id="admin" data-bind="checked: admin"></ons-checkbox>
                </ons-col>
            </ons-row>
        </div>


        <ons-row data-bind="visible: !valid()">
            <ons-col>
                <div class="validation-summary">
                    Bitte fülle alle Formularfelder aus und beachte, dass der Nutzername folgende Zeichen nicht enthalten darf: ":"
                </div>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <ons-button modifier="large--cta" data-bind="enable: valid, click: save">Speichern</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>