<ons-page id="details-page" data-bind="with: incomingGoodsRoot">
    <ons-toolbar  data-bind="with: incomingGoodsManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: incomingGoodsManipulation">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>

        <div id="incoming-goods-manipulation-form" data-bind="ifnot: loading">
            <div>
            <div>
                <ons-row>
                    <ons-col>
                        <label for="userSelection">Ansprechpartner:</label>
                        <ons-select class="select">
                            <select id="userSelection"
                                    data-bind="options: selectableContactPersons,
                                    optionsText: 'displayName',
                                    value: selectedContactPerson"></select>
                        </ons-select>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col class="inner-edit-section">
                        <h1>Wareneingang</h1>
                        <ons-row>
                            <ons-col>
                                <label for="offerSelection">Angebot wählen:</label>
                                <ons-select class="select">
                                    <select id="offerSelection"
                                            data-bind="options: selectableProductsForAdd,
                                            optionsText: function(offer) {
                                                return ko.unwrap(offer.product().name) + ' (' + ko.unwrap(offer.pricePerUnit) + ' € pro Einheit | Mindestbestellmenge: ' + ko.unwrap(offer.minimumOrderQuantity) +  ')';
                                            },
                                            value: selectedProductForAdd"></select>
                                </ons-select>
                                
                                <label for="amount">Menge:</label>
                                <ons-input input-id="amount"
                                           modifier="underbar"
                                           type="number"
                                           placeholder="Menge" required
                                           data-bind="textInput: amountOfSelectedProductToAdd"></ons-input>
                                <ons-button modifier="large--cta" data-bind="enable: productInputValid(), click: addProduct">Produkt hinzufügen</ons-button>
                            </ons-col>
                        </ons-row>

                        <div data-bind="with: selectedProducts">
                            <div data-bind="template: {name: 'generic-list-template', data: items}"></div>
                        </div>
                    </ons-col>
                </ons-row>

                <ons-row data-bind="with: itemToManipulate">
                    <ons-col data-bind="visible: !valid()">
                        <div class="validation-summary">
                            Bitte fülle alle Formularfelder aus und füge mindestens 1 Produkt hinzu
                        </div>
                    </ons-col>
                </ons-row>
            </div>

            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="enable: itemToManipulate().valid, click: save">Speichern</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>