<ons-page id="details-page" data-bind="with: orderRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Bestell-Details</div>
    </ons-toolbar>

    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: orderDetails">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>


        <div id="details-content" data-bind="ifnot: loading">
            <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Bestellung wurde ausgelöst durch',
                                            'content': userName}}"></div>

            <ons-row class="no-print">
                <ons-col>
                    <label for="supplierSelection">Lieferant zur Anzeige wählen:</label>
                    <ons-select class="select">
                        <select id="supplierSelection"
                                data-bind="options: selectableSuppliers,
                                    optionsText: 'name',
                                    value: selectedSupplier"></select>
                    </ons-select>
                </ons-col>
            </ons-row>

            <h2>Bestellte Produkte</h2>

            <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Lieferant',
                                            'content': supplierName}}"></div>
            
            <div data-bind="template: {name: 'details-field-currency',
                                    data: { 'label': 'Gesamtpreis',
                                            'content': totalPrice}}"></div>

            <ons-row>
                <ons-col>
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Beschreibung</td>
                                <td>Menge</td>
                                <td>Preis pro Einheit</td>
                                <td>Gesamtpreis</td>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: visualizedItems">
                            <tr>
                                <td data-bind="text: offer().product().name"></td>
                                <td data-bind="text: offer().product().description"></td>
                                <td data-bind="text: amount"></td>
                                <td><span data-bind="text: offer().pricePerUnit"></span> &euro;</td>
                                <td><span data-bind="text: totalPrice"></span> &euro;</td>
                            </tr>
                        </tbody>
                    </table>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>