<ons-page id="details-page" data-bind="with: shoppingCartRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Einkaufswagen-Details</div>
    </ons-toolbar>
    
    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: shoppingCartDetails">
        
        <span data-bind="template: {name: 'details-field-currency',
                                    data: { 'label': 'Gesamtpreis',
                                            'content': totalPrice}}"></span>
        
        <span data-bind="template: {name: 'details-field-bool',
                                    data: { 'label': 'Bestell-Ziel erreicht?',
                                            'content': minimumOrderQuantityReached}}"></span>
        
        <h2>Einträge</h2>
        <ons-row>
            <ons-col>
                <table>
                    <thead>
                        <tr>
                            <td>Mitglied</td>
                            <td>Produkt</td>
                            <td>Menge</td>
                            <td>Preis pro Einheit</td>
                            <td>Gesamtpreis</td>
                            <td>Angebot veraltet?</td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td data-bind="text: user().displayName"></td>
                            <td data-bind="text: offer().product().name"></td>
                            <td data-bind="text: amount"></td>
                            <td><span data-bind="text: offer().pricePerUnit"></span> &euro;</td>
                            <td><span data-bind="text: totalPrice"></span> &euro;</td>
                            <td data-bind="template: {name: 'text-bool-tick-cross', data: offer().outdated}"></td>
                        </tr>
                    </tbody>
                </table>
            </ons-col>
        </ons-row>
    </div>
</ons-page>