<ons-page id="list-page" data-bind="with: shoppingCartRoot">

    <ons-pull-hook id="shopping-cart-list-pull-hook">
        Ziehen um zu aktualisieren
    </ons-pull-hook>
    <script type="text/javascript">
        document.querySelector('#shopping-cart-list-pull-hook').onAction = function (done) {
            ko.dataFor(document.querySelector('#shopping-cart-list-pull-hook')).refreshShoppingCartList();
            done();
        }
    </script>

    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Einkaufswägen werden geladen'}"></div>

        <div id="shopping-cart-list-content" data-bind="ifnot: loading">
            <h1>Einkaufswägen</h1>
            <ons-row>
                <ons-col>
                    <div data-bind="with: shoppingCartList">
                        <div>
                            # Einkaufswägen:
                            <span data-bind="text: filteredItemCount"></span> von <span data-bind="text: itemCount"></span>
                        </div>

                        <ons-row>
                            <ons-col>
                                <ons-search-input placeholder="Suche" data-bind="value: filter"></ons-search-input>
                            </ons-col>
                        </ons-row>

                        <ons-row>
                            <ons-col>
                                <div data-bind="template: {name: 'generic-list-template', data: filteredItems}"></div>
                            </ons-col>
                        </ons-row>
                        <hr>
                    </div>
                </ons-col>
            </ons-row>
            <ons-row data-bind="if: adminApp">
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="click: navigateToAddPage">Neuer Einkaufswagen</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>