<ons-page id="details-page" data-bind="with: productRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Produkt-Details</div>
    </ons-toolbar>
    
    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: productDetails">
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Name',
                                            'content': name}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Beschreibung',
                                            'content': description}}"></div>
    </div>
</ons-page>