<ons-page id="details-page" data-bind="with: productRoot">
    <ons-toolbar  data-bind="with: productManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: productManipulation">
        <div data-bind="with: itemToManipulate">

            <ons-row>
                <ons-col>
                    <label for="name">Name</label>
                    <ons-input modifier="underbar"
                               type="text"
                               input-id="name"
                               placeholder="Name" required
                               data-bind="textInput: name"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="description">Beschreibung</label>
                    <textarea id="description"
                              class="textarea"
                              rows="3"
                              placeholder="Beschreibung"
                              data-bind="textInput: description"></textarea>
                </ons-col>
            </ons-row>
        </div>


        <ons-row data-bind="visible: !valid()">
            <ons-col>
                <div class="validation-summary">
                    Bitte fülle alle Formularfelder aus
                </div>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col>
                <ons-button modifier="large--cta" data-bind="enable: valid, click: save">Speichern</ons-button>
            </ons-col>
        </ons-row>
    </div>
</ons-page>