<ons-page id="details-page" data-bind="with: warehouseItemRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Lagerelement-Details</div>
    </ons-toolbar>
    
    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content" data-bind="with: warehouseItemDetails">
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Produktname',
                                            'content': offer().product().name()}}"></div>
        
        <div data-bind="template: {name: 'details-field',
                                    data: { 'label': 'Lagerbestand',
                                            'content': amount}}"></div>
    </div>
</ons-page>