<ons-page id="details-page" data-bind="with: warehouseItemRoot">
    <ons-toolbar  data-bind="with: warehouseItemManipulation">
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: warehouseItemManipulation">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>

        <div id="warehouse-manipulation-form" data-bind="ifnot: loading">
            <ons-row>
                <ons-col>
                    <label for="offerSelection">Wähle ein Produkt:</label>
                    <ons-select class="select">
                        <select id="offerSelection"
                                data-bind="options: selectableProductsForAdd,
                                        optionsText: function(offer) {
                                            return ko.unwrap(offer.product().name) + ' (' + ko.unwrap(offer.pricePerUnit) + ' € pro Einheit | Mindestbestellmenge: ' + ko.unwrap(offer.minimumOrderQuantity) +  ')';
                                        },
                                        value: selectedProductForAdd"></select>
                    </ons-select>
                    <br>
                    <label for="amount">Menge:</label>
                    <ons-input modifier="underbar"
                               input-id="amount"
                               type="number"
                               placeholder="Menge" required
                               data-bind="textInput: amountOfSelectedProductToAdd"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col data-bind="visible: !warehouseItemInputValid()">
                    <div class="validation-summary">
                        Bitte fülle alle Formularfelder aus
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="enable: warehouseItemInputValid(), click: save">Speichern</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>
