<ons-page id="list-page" data-bind="with: supplierRoot">

    <ons-pull-hook id="supplier-list-pull-hook">
        Ziehen um zu aktualisieren
    </ons-pull-hook>
    <script type="text/javascript">
        document.querySelector('#supplier-list-pull-hook').onAction = function (done) {
            ko.dataFor(document.querySelector('#supplier-list-pull-hook')).refreshSupplierList();
            done();
        }
    </script>
    
    <div data-bind="template: {name: 'print-fab-template'}"></div>

    <div class="page-content">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Lieferanten werden geladen'}"></div>

        <div id="product-list-content" data-bind="ifnot: loading">
            <h1>Lieferanten</h1>
            <ons-row>
                <ons-col>
                    <div data-bind="with: supplierList">
                        <div>
                            # Lieferanten:
                            <span data-bind="text: filteredItemCount"></span> von <span data-bind="text: itemCount"></span>
                        </div>

                        <ons-row>
                            <ons-col>
                                <ons-search-input placeholder="Suche" data-bind="value: filter"></ons-search-input>
                            </ons-col>
                        </ons-row>

                        <ons-row>
                            <ons-col>
                                <div data-bind="template: {name: 'generic-list-template', data: filteredItems}"></div>
                            </ons-col>
                        </ons-row>
                        <hr>
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="click: navigateToAddPage">Lieferant hinzufügen</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>