<ons-page id="details-page" data-bind="with: supplierRoot">
    <ons-toolbar data-bind="with: supplierManipulation">
        <div class="left">
            <ons-back-button>Zurück</ons-back-button>
        </div>
        <div class="center" data-bind="text: pageTitle"></div>
    </ons-toolbar>

    <div class="page-content" data-bind="with: supplierManipulation">
        <div data-bind="visible: loading,
                        template: {name: 'progress-indicator-template', data: 'Daten werden geladen'}"></div>

        <div id="supplier-manipulation-form" data-bind="ifnot: loading">
            <div data-bind="with: itemToManipulate">
                <ons-row>
                    <ons-col>
                        <label for="name">Name: </label>
                        <ons-input input-id="name" modifier="underbar" type="text" placeholder="Name" required
                                   data-bind="textInput: name"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="contactPerson">Ansprechpartner: </label>
                        <ons-input input-id="contactPerson" modifier="underbar" type="text" placeholder="Ansprechpartner" required
                                   data-bind="textInput: contactPerson"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="street">Straße: </label>
                        <ons-input input-id="street" modifier="underbar" type="text" placeholder="Straße" required
                                   data-bind="textInput: street"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="location">Ort: </label>
                        <ons-input input-id="location" modifier="underbar" type="text" placeholder="Ort" required
                                   data-bind="textInput: location"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="zipCode">Postleitzahl: </label>
                        <ons-input input-id="zipCode" modifier="underbar" type="text" placeholder="Postleitzahl" required
                                   data-bind="textInput: postalCode"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="phone">Telefon: </label>
                        <ons-input input-id="phone" modifier="underbar" type="text" placeholder="Telefon" required
                                   data-bind="textInput: phoneNumber"></ons-input>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col>
                        <label for="mail">E-Mail: </label>
                        <ons-input input-id="mail" modifier="underbar" type="email" placeholder="E-Mail" required
                                   data-bind="textInput: mailAddress"></ons-input>
                    </ons-col>
                </ons-row>
            </div>

            <ons-row>
                <ons-col class="inner-edit-section">
                    <h2>Angebot hinzufügen</h2>

                    <label for="productSelection">Wähle ein Produkt:</label>
                    <ons-select class="select">
                        <select id="productSelection" data-bind="options: selectableProducts,
                                optionsText: 'name',
                                value: selectedProductToAdd"></select>
                    </ons-select>
                    <br />

                    <label for="price">Preis: </label>
                    <ons-input input-id="price" modifier="underbar" type="text" placeholder="Preis" required
                               data-bind="textInput: pricePerUnitToAdd"></ons-input>
                    <label for="minimumOrderQuantity">Mindestbestellmenge: </label>
                    <ons-input input-id="minimumOrderQuantity" modifier="underbar" type="text" placeholder="Menge" required
                               data-bind="textInput: minimumOrderQuantityToAdd"></ons-input>

                    <ons-row data-bind="visible: !productInputValid()">
                        <ons-col>
                            <div class="validation-summary">
                                Wähle ein Produkt und setze einen Preis fest.
                            </div>
                        </ons-col>
                    </ons-row>
                    <ons-button modifier="large--cta" data-bind="enable: productInputValid(), click: addProductOffer">Produkt hinzufügen</ons-button>

                    <ons-row>
                        <ons-col data-bind="with: selectedProducts">
                            <div data-bind="template: {name: 'generic-list-template', data: items}"></div>
                        </ons-col>
                    </ons-row>
                </ons-col>
            </ons-row>

            <ons-row data-bind="with: itemToManipulate">
                <ons-col data-bind="visible: !valid()">
                    <div class="validation-summary">
                        Bitte fülle alle Formularfelder aus
                    </div>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-button modifier="large--cta" data-bind="enable: itemToManipulate().valid, click: save">Speichern</ons-button>
                </ons-col>
            </ons-row>
        </div>
    </div>
</ons-page>