<ons-page id="details-page" data-bind="with: supplierRoot">
    <ons-toolbar>
        <div class="left"><ons-back-button>Zurück</ons-back-button></div>
        <div class="center">Hilfe</div>
    </ons-toolbar>

    <div class="page-content">
        <h2>Menüs</h2>
        <p>In der Seitenleiste befinden sich diverse Menüs, hinter denen sich Module der Anwendung befinden. Diese werden im folgenden grundlegend erläutert.</p>
        <p>Abgesehen von 'Einstellungen' und 'Hilfe' führen alle Menüeinträge zu Modulen. Module sind Gruppierungen logisch zusammenhängender Aufgaben / Daten.
            Die Verwaltung der Module ist bis auf kleinere Abweichungen immer gleich aufgebaut. Auf einer Verwaltungsseite befindet sich eine Liste mit Einträgen.
            Durch einen Klick auf den Eintrag lassen sich dessen Details einsehen. Auf manchen Einträgen lassen sich weitere Aktionen durchführen (z.B. Bearbeiten <ons-icon size="16px" icon="md-edit"></ons-icon>, Löschen <ons-icon size="16px" icon="md-delete"></ons-icon>).
        Diese Aktionen können durch einen Klick auf das entsprechende Symbol durchgeführt werden.</p>

        <h2>Aufgaben für Nutzer übernehmen</h2>
        <p>
            Als Administrator haben Sie bei jeder Tätigkeit die ein Nutzer durchführen kann (z.B. Produkte in den Einkaufswagen legen oder abholen) diese Tätigkeit für ihn durchzuführen.
            Auf den entsprechenden Seiten befindet sich dann eine Benutzerauswahl.
        </p>

        <h2>Einstellungen</h2>
        <h3>Authentifizierung</h3>
        In diesem Abschnitt müssen Sie Ihre Anmeldedaten angeben, durch die Sie auf dem Server authentifiziert werden.
        Hierfür muss für Sie durch einen Administrator ein Account angelegt werden. Wenn Sie Ihr Passwort ändern wollen, können Sie dies nach Anfrage eines Administrators in der "Administrationsapp" unter Aufsicht erledigen.
        <h3>API-Endpunkt</h3>
        Hier muss die Adresse des FoodCoops-Servers angegeben werden. Diese Adresse wird Ihnen durch einen Administrator mitgeteilt.
        <h3>Benachrichtigungsdauer</h3>
        Legt in Millisekunden fest, wie lange Benachrichtigungen in der App angezeigt werden.

        <h2>Stammdatenverwaltung</h2>
        <p>In der Stammdatenverwatlung werden grundlegende Daten verwaltet. Diese Daten ermöglichen erst die Benutzung der Applikation.
            Dies beinhaltet die <em>Produkte</em>, <em>Mitglieder</em> sowie <em>Lieferanten</em> mit ihren <em>Angeboten</em>
        </p>

        <h2>Bestellverwaltung</h2>
        <p>
            In diesem Modul wird alles rund um den Bestellvorgang behandelt.
            Administratoren können hier Einkaufswägen anlegen, zu denen jeder Benutzer selbstständig Einträge hinzufügen und (seine eigenen) löschen kann.
            Administratoren haben dabei die Möglichkeit Einträge für alle anderen Benutzer zu verwalten.
            Wenn schließlich eine Bestellung in Auftrag gegeben werden soll, muss der Einkaufswagen durch einen Klick auf <ons-icon size="16px" icon="md-mail-send"></ons-icon> in eine Bestellung umgewandelt werden.
        </p>

        <p>
            Die Details einer versendeten Bestellung lassen sich durch einen Klick auf den Eintrag einsehen.
            Dabei werden bestellten Posten <em>pro Lieferant</em> angezeigt um den Druck zu erleichtern und die Einträge getrennt zu behandeln.
        </p>
        <p>
            Die Bestell-Informationen lassen sich durch einen klick auf das <ons-icon size="16px" icon="md-print"></ons-icon> Symbol ausdrucken bzw. in eine PDF-Datei umwandeln.
        </p>

        <h2>Lagerverwaltung</h2>
        <p>
            In der Lagerverwaltung werden der <em>Lagerbestand</em>, <em>Wareneingang</em> und die <em>Abholungen</em> verwaltet.
            Der Lagerbestand kann jederzeit manuell angepasst werden. Neue Wareneingänge oder Abholungen aktualisieren automatisch den Lagerbestand.
        </p>
        <p><b>Wichtig:</b> Das Bearbeiten oder Löschen von Wareneingängen/Abholungen hat keinerlei Auswirkung auf den Lagerbestand. In diesen Fällen muss der Bestand manuell auf die korrekten Werte angepasst werden.</p>
        <p>Um eine Abholung als bezahlt zu markieren, muss lediglich auf der <em>Abholungen</em>-Seite das Symbol <ons-icon size="16px" icon="md-money"></ons-icon> gedrückt werden.</p>
    </div>
</ons-page>