<ons-page id="tabbar-order-page">
    <ons-toolbar>
        <div class="left" data-bind="template: {name: 'hamburger-menu-template'}"></div>
        <div class="center">Bestellverwaltung</div>
    </ons-toolbar>
    <ons-tabbar position="bottom">
        <ons-tab page="shared/shoppingCart/list.html" label="Einkaufswagen"></ons-tab>
        <ons-tab page="administrationApp/order/list.html" label="Bestellungen"></ons-tab>
    </ons-tabbar>
</ons-page>