<ons-page id="tabbar-administration-page">
    <ons-toolbar>
        <div class="left" data-bind="template: {name: 'hamburger-menu-template'}"></div>
        <div class="center">Stammdatenverwaltung</div>
    </ons-toolbar>
    <ons-tabbar position="bottom">
        <ons-tab page="administrationApp/member/list.html" label="Mitglieder" active></ons-tab>
        <ons-tab page="administrationApp/supplier/list.html" label="Lieferanten"></ons-tab>
        <ons-tab page="administrationApp/product/list.html" label="Produkte"></ons-tab>
    </ons-tabbar>
</ons-page>